   body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      text-align: center;
      background-image: url(backgrnd.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      
    }

    /* Navigation Bar */
    nav {
      background-color: #000080;
      padding: 15px;
      margin-top: -0%;
      
      display: flex ;
      justify-content: space-between;
      align-items: center;
      border-radius: 0 0 10px 10px;
      position: fixed;
      top: 0;
      left: 0;
      width: 99%;
      
      
    }

    nav h2 {
      margin: 0;
      color: white;
    }

    nav a {
      margin-left: auto;
      text-decoration: none;
      color: white;
      font-weight: bold;
      padding-left: 20px;
      transition: background 0.2s, color 0.2s padding-left 0.3s;
      margin-right: 20px;
    }

    nav a:hover {
      color: rgb(0, 0, 233);
      padding-right: 10px;
      

    }
    nav a:hover{
      padding:0;
      padding-left: 10px;
      color: rgb(0, 60, 255);
      
      
    }

    /* Layout Container */
    .container {
      display: flex;
      margin-top: 10px;
    }

    /* Sidebar */
    aside {
      width: 220px;
      background-color: transparent;
      padding: 15px;
      border-radius: 10px;
      text-align: center;
      margin-top: 50px;
    }

    aside h3 {
      margin-bottom: 0%;
      text-align: left;
      color: white;
    }
    p{
      text-align:left;
    }

    aside ul {
      list-style: none;
      
      padding: 0;
    }

    aside ul li {
      margin: 10px 0;
      color: white;
    }

    aside ul li a {
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
    .Contact{
      color: white;
    }
    .Contact  a:hover{
      color: blue;
    }

    aside img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 5px solid white;
      margin-top: 20px;
      margin-bottom: 5px;
    }
    .words{
      color: white;
      text-align: center;
      margin-bottom: 50px;
      font-weight: bold;
    }
    /* Main Content */
    main {
      flex: 1;
      padding: 20px;
      margin-top: 60px;
    }

    main h2 {
      margin-top: 0;
      
    }

    .info-card {
      color: rgb(19, 18, 18);
      background: #F0F8FF;
      padding: 10px;
      border-radius: 10px ;
      box-shadow: 0 0 5px rgba(0,0,0,0.2);
      margin-bottom: 20px;
      border: 4px solid rgb(47, 162, 197);
      background: linear-gradient( 130deg, #a1adb4 20%, #4e5deb);
    }
    .info-card-one {
      color: rgb(19, 18, 18);
      background: #F0F8FF;
      padding: 10px;
      border-radius: 10px ;
      box-shadow: 0 0 5px rgba(0,0,0,0.2);
      margin-bottom: 20px;
      border: 4px solid rgb(47, 162, 197);
      background: linear-gradient( 130deg, #a1adb4 20%, #4e5deb);
      
}
footer{
  text-align: center;
  color: white;
  border: 3px solid rgb(47, 162, 197);
  background:  #000080;
  
}
/*table ni*/
    table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            border: 3px;
            border-radius: 100px;
                       
        }
        th, td {
            border: 3px solid rgb(47, 162, 197);
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            width: 5px;
          
        }
        th {
            background-color: rgb(123, 141, 161);
        }
        td{
          background-color: rgb(152, 156, 170);
        }
        
    